<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div *ngFor="let carousel of carousels; let isFirst = first" class="item" [class.active]="isFirst">
      <img class="first-slide" src="{{carousel.product_varieties[0].product_images[0].url}}" alt="First slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>{{carousel.title}}</h1>
          <p>{{carousel.description}}</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Click!</a></p>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div><!-- /.carousel -->

<div class="container marketing">

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <a [routerLink]="['/product', {gender:true}]">
        <div class="gender-image men" alt="Men's collection">
          <p>MEN's</p>
          <p>COLLECTION</p>
        </div>
      </a>
    </div>
    <div class="col-xs-12 col-sm-6">
      <a [routerLink]="['/product', {gender:false}]">
        <div class="gender-image women" alt="Women's collection">
          <p>WOMEN's</p>
          <p>COLLECTION</p>
        </div>
      </a>
    </div>
  </div><!-- /.row -->


  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

</div><!-- /.container -->
