.sign-in-form{
  padding: 5px 15px;
  input{
    min-width: 200px;
  }
  .form-group:last-child{
    margin-bottom: 0px;
  }
  @media (min-width: $screen-sm-min) {
    padding: $nav-link-padding;
  }
}
