<div class="header" fxLayout="row" fxLayoutAlign="flex-end">
  <md-icon>menu</md-icon>
  <div class="navbar-brand">
    Shop
  </div>
  <nav>
    <ul>
      <li>HOME</li>
      <li>STORE</li>
      <li>SEASON</li>
    </ul>
  </nav>
</div>

<div class="content-wrapper" fxLayout="row" fxLayoutAlign="stretch stretch">
  <div class="left" fxFlex>
    LEFT: full wide
  </div>

  <div class="shopping-cart" fxFlex.xs="20px" fxFlex.md="320px">
    <button class="shopping-cart-button" fxHide.md md-button>
      <md-icon>shopping_cart</md-icon>
    </button>
  </div>

</div>
<div class="footer" fxLayout="row" fxFlexAlign="bottom">
  Copyright © 2017 Zhodas Merey Web Design. All Rights Reserved.
</div>
