<md-sidenav-container class="main-sidenav-container">
  <md-sidenav #sidenav class="main-sidenav" mode="push" opened="false" fxHide fxShow.xs>
    <nav role="navigation">
      <ul class="">
        <li>HOME</li>
        <li>STORE</li>
        <li>SEASON</li>
      </ul>
    </nav>
  </md-sidenav>

  <div class="wrapper">
    <md-sidenav-container class="main-container">
      <router-outlet></router-outlet>

      <md-sidenav class="shopping-cart-sidenav" #shoppingCart mode="push" opened="false" align="end">
        <ul class="shopping-cart">
          <li>ITEM 1</li>
          <li>ITEM 2</li>
          <li>ITEM 3</li>
        </ul>
      </md-sidenav>
    </md-sidenav-container>

  </div>
  <!-- /wrapper -->

  <footer>Copyright © <span class="current-year">{{currentYear}}</span> Design Merey Zholdas</footer>

</md-sidenav-container>
<button mdTooltip="Shopping Cart" md-fab class="shopping-cart-fab" (click)="shoppingCart.toggle()" fxHide.lg fxHide.xl>
  <md-icon>shopping_cart</md-icon>
</button>
<header>
  <div class="nav-container">
    <button md-button class="nav-menu-button" (click)="sidenav.toggle()" fxHide fxShow.xs>
      <md-icon>menu</md-icon>
    </button>
    <a md-button routerLink="." class="nav-brand text-display-1">
       Knack!
    </a>
    <nav class="nav nav-links" role="navigation" fxHide.xs>
      <ul class="list-horizontal">
        <li><a md-button routerLink=".">Products</a></li>
        <li><a md-button routerLink=".">Contacts</a></li>
      </ul>
    </nav>
    <form fxHide.xs class="form-horizontal search-form" [formGroup]="searchForm" (ngSubmit)="submitSearch()">
      <md-input-container dividerColor="accent.a400" class="example-full-width">
        <input mdInput placeholder="Search..." type="text" [formControl]="input_search" />
      </md-input-container>

      <button color="primary" md-button type="submit" class="search-btn">
        <md-icon>search</md-icon>
      </button>
    </form>
    <nav class="nav session-links" role="navigation" fxHide.xs>
      <ul class="list-horizontal">
        <li><a md-button routerLink=".">Sign up</a></li>
        <li><a md-button routerLink=".">Log in</a></li>
      </ul>
    </nav>
  </div>
</header>
