<div class="container">
  <form class="form sign-up-form" [formGroup]="signupForm" (ngSubmit)="submitRegister()">
    <div class="form-group">
      <input type="email" class="form-control" [formControl]="input_email" placeholder="Email" name="email" required="true" />
      <div class="validation-messages text-danger" [hidden]="(input_email.valid || input_email.untouched) && !formSubmitAttempt">
        <p [hidden]="!input_email.hasError('required')">
          Email is required
        </p>
        <p [hidden]="!input_email.hasError('pattern')">
          Pattern mismatch
        </p>
      </div>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" [formControl]="password" placeholder="Password" name="password" />
      <div class="validation-messages text-danger" [hidden]="(password.valid || password.untouched) && !formSubmitAttempt">
        <p [hidden]="!password.hasError('minlength')">
          Password must have minimum 8 chars
        </p>
        <p [hidden]="!password.hasError('required')">
          Password is required
        </p>
        <p [hidden]="!password.hasError('pattern')">
          Pattern mismatch
        </p>
      </div>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" [formControl]="password_confirm" placeholder="Password confirmation" name="password_confirmation"/>
      <div class="validation-messages text-danger" [hidden]="(password_confirm.valid || password_confirm.untouched) && !formSubmitAttempt">
        <p [hidden]="!password_confirm.hasError('required')">
          Password is required
        </p>
        <p [hidden]="!password_confirm.hasError('mismatchedPassword')">
          Password confirmation mismatch
        </p>
      </div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-success"> Sign Up </button>
      <button type="button" class="btn btn-default" (click)="cancel()"> Cancel </button>
    </div>
  </form>
</div>
